<div class="toolbar" role="banner">
    <!---   banner --->

      <a aria-label="Argentina Programa" href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" title="Ir a Argentina Programa">
        <img class="logo-AR" src="assets\Logo argpr.jpg" >
</a>

     
     <a aria-label="Sabrina Santoro Instagram" href="https://www.instagram.com/sabrina.tatiana/" title="Instagram">
        <img class="instagram-logo" src="assets\instagram logo.png" >
      </a>
      <a aria-label="Sabrina Santoro Facebook" href="https://es-la.facebook.com/Sabrisantoro" title="Facebook">
        <img class="facebook-logo" src="assets\facebook-logo.png" >
      </a>
      <a aria-label="Sabrina Santoro Linkedin" href="https://ar.linkedin.com/in/sabrina-tatiana-santoro-8a5a9ba0" title="Linkedin">
        <img class="linkedin-logo" src="assets\Linkedin logo.jpg">
      </a>
  </div> 

<!---   imagen fondo --->
  <div class="card mat-card" id="first-card">  
    <div> </div>
     <div id="profile-background"><img [src]="miPorfolio.backImage"></div>  
     <div id="info" style="padding: 16px">

</div>
</div>